<section class="hero">
    <div class="hero-content pb-5 text-center">
        <h3 class="hero-heading">Maillots de football</h3>
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <p class="lead text-muted">
                    Cliquez sur une image pour accéder à une page contenant les détails du produit
                </p>
            </div>
        </div>
    </div>
</section>
<section class="moteurderecherche">
    <app-moteur-de-recherche (filtreEvent)="onFilterEvent($event)"></app-moteur-de-recherche>
</section>
<section class="afficherproduits">
    <div *ngIf="(produitsFiltres$ | async)?.length==0" class="no-product-find">
        <p class="lead text-muted">
            Aucun produit disponible avec vos critères
        </p>
        <p class="lead text-muted">
            Veuillez réessayez avec d'autres filtres de recherche
        </p>
    </div>
    <div class="products row d-flex justify-content-center">
        <div *ngFor="let item of produitsFiltres$ | async" class="product" class="col-md-4">
            <div class="product-image">
                <img alt="{item.nom}}" class="img-fluid" src="assets/maillots/{{item.image}}.jpg">
                <div class="product-hover-overlay">
                    <a (click)="ajoutPanier(item)" class="product-hover-overlay-link"></a>
                    <div class="product-hover-overlay-buttons">
                        <a (click)="ajoutPanier(item)" class="btn btn-outline-dark btn-product-left">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a [routerLink]="['/produits/details', item.id]" class="btn btn-dark btn-buy">
                            <i class="fa-search fa"></i>
                            <span class="btn-buy-label ml-2">Voir</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="py-2">
                <p class="text-muted text-sm mb-1">{{item.saison}} {{item.type}}</p>
                <h3 class="h6 text-uppercase mb-1">
                    <a [routerLink]="['/produits/details', item.id]">
                        {{item.nom}}
                    </a>
                </h3>
                <span class="text-muted">{{item.prix}} €</span>
            </div>
        </div>
    </div>
</section>
