<section class="hero">
    <div class="hero-content pb-5 text-center">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <p class="lead text-muted">Des nouveaux maillots sont disponibles tous les vendredis</p>
            </div>
        </div>
    </div>
</section>
<section class="accueil">
    <div class="row" id="accueil">
        <div class="carousel slide w-100" data-interval="500" data-ride="carousel" id="recipeCarousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/strasbourg_2021_dom.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/manchestercity_2021_dom.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/acmilan_2021_third.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/parissaintgermain_2021_dom.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/realmadrid_2021_dom.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets/maillots/dortmund_2021_dom.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-white" id="infos" role="alert">
        <h6 class="mb-3 ff-base">Si tu es là c'est que tu cherches à agrandir ta collection de fan de foot.
            Tu trouveras ici un large choix de maillots de Ligue 1 en passant par la Bundesliga
            ou encore la Premier League!
        </h6>
        <span>
    </span>
        <hr>
        <p>Pour nous contacter: <b>sofoot@cfai-formation.fr</b></p>
    </div>
</section>
