<div class="row" id="accueil">
    <div class="carousel slide w-100" data-interval="500" data-ride="carousel" id="recipeCarousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/strasbourg_2021_dom.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/manchestercity_2021_dom.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/acmilan_2021_third.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/parissaintgermain_2021_dom.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/realmadrid_2021_dom.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-4">
                    <div class="card card-body">
                        <img class="img-fluid" src="assets/maillots/dortmund_2021_dom.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-white" role="alert">
    <h4 class="alert-heading">Bienvenue</h4>
    <p>Si tu es là c'est que tu cherches à agrandir ta collection de fan de foot.
        Tu trouveras ici un large choix de maillots de Ligue 1 en passant par la Bundesliga ou encore la Premier League!
    </p>
    <hr>
    <p class="mb-0">Pour nous contacter: <b>sofoot@cfai-formation.fr</b></p>
</div>
