<section class="hero">
    <div class="container">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="..">Revenir au maillot</a></li>
            <li class="breadcrumb-item active">Panier</li>
        </ol>
        <div class="hero-content pb-5 text-center">
            <h3 class="hero-heading mb-0">Votre panier</h3>
            <div class="row">
                <div *ngIf="(taillePanier$ | async)  > 0 " class="col-xl-8 offset-xl-2">
                    <p class="lead text-muted">
                    Vous avez {{ taillePanier$ | async }} produit dans votre panier
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-lg-8">
            <div class="card wish-list mb-3">
                <div class="card-body">
                    <h5 class="mb-4">Panier (<span>{{ taillePanier$ | async }}</span> produits)</h5>
                    <p *ngIf="(taillePanier$ | async) == 0">
                        Il n'y a aucun article dans votre panier.
                    </p>
                    <div *ngFor="let p of produits$ | async" class="row mb-4">
                        <div class="col-md-5 col-lg-3 col-xl-3">
                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                <a [routerLink]="['/produits/details', p.id]">
                                    <img alt="{{p.nom}}" class="card-img-top mt-2"
                                         src="assets/maillots/{{p.image}}.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-9 col-xl-9">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5>{{p.nom}} {{p.type}}</h5>
                                        <p class="mb-3 text-muted text-uppercase small">Saison: {{p.saison}}</p>
                                        <p class="mb-2 text-muted text-uppercase small">Marque: {{p.marque}}</p>
                                        <p class="mb-3 text-muted text-uppercase small">Nombre: {{p.quantite}}
                                            pièce(s)</p>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <div class="col-4"></div>
                                            <span class="input-group-prepend">
                                                <button (click)="SupprimerUneQuantite(p)"
                                                        class="btn btn-outline-secondary btn-number" type="button">
                                                    <span class="fa fa-minus"></span>
                                                </button>
                                            </span>
                                            <input class="col-3" max="{{p.stock}}" min="1" type="text"
                                                   value="{{p.quantite}}">
                                            <span class="input-group-append">
                                                <button (click)="AjouterUneQuantite(p)"
                                                        class="btn btn-outline-secondary btn-number" type="button">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button (click)="SupprimerProduitPanier(p)" class="btn btn-light" type="button">
                                            <i class="fas fa-trash-alt mr-1"></i> Supprimer produit
                                        </button>
                                    </div>
                                    <p class="mb-0"><span><strong>{{p.prix * p.quantite}} €</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <p>
                        <i class="fas fa-info-circle mr-1"></i>
                        N'attendez pas pour acheter, ajouter un produit à votre panier ne vous
                        le réserve pas
                    </p>
                </div>
            </div>
            <div *ngIf="erreur != ''"
                 [ngClass]="'error'">
                <span class="text-danger">{{erreur}}</span>
            </div>
            <div class="my-5 d-flex justify-content-between flex-column flex-lg-row">
                <a class="btn btn-link text-muted" routerLink="..">
                    <i class="fa fa-chevron-left"></i>
                    Continuer vos achats
                </a>
                <a class="btn btn-dark text-white" (click)="ValiderCommande()">
                    Valider la commande
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="block mb-5">
                <div class="block-header">
                    <h6 class="text-uppercase mb-0">Total commande</h6>
                </div>
                <div class="block-body bg-light pt-1">
                    <p class="text-sm">
                        Les frais de livraisons et les taxes sont calculés en fonction de ce que vous avez choisis.
                    </p>
                    <ul class="order-summary mb-0 list-unstyled">
                        <li class="order-summary-item"><span>Sous-total </span><span>{{ total$ | async }} €</span>
                        </li>
                        <li class="order-summary-item"><span>Livraison</span><span>Gratuite</span></li>
                        <li class="order-summary-item"><span>Taxe</span><span>0 €</span></li>
                        <li class="order-summary-item border-0"><span>Total</span>
                            <strong class="order-summary-total">{{ total$ | async }} €</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
