<section class="hero">
    <div class="container">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Revenir à l'accueil</a></li>
            <li class="breadcrumb-item active">Mon profil</li>
        </ol>
        <div class="hero-content pb-5 text-center">
            <h3 class="hero-heading">Mon profil</h3>
            <p class="lead text-muted">
                Consultez et tenez à jour votre profil afin de faciliter vos <strong>prochaines commandes</strong>
            </p>
        </div>
    </div>
</section>
<section class="recapitulatif">
    <div *ngIf="(unClient$ | async) as client" class="col-lg-12 col-xl-12">
        <div class="block mb-5">
            <div class="block-header">
                <strong class="text-uppercase">Changer votre mot de passe</strong>
            </div>
            <div class="block-body">
                <form (ngSubmit)="changerMotDePasse()" [formGroup]="passwordForm" id="form_mot_de_passe">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="password_old">Ancien mot de passe</label>
                                <input class="form-control" formControlName="old_password" id="password_old"
                                       type="password">
                                <div *ngIf="old_password.errors && isValidFormSubmitted != null &&
                                    !isValidFormSubmitted" [ngClass]="'error'">
                                    <small *ngIf="old_password.errors.required" class="text-danger">
                                        L'ancien mot de passe est requis
                                    </small>
                                </div>
                                <div *ngIf="erreur_old_password != '' && isValidFormSubmitted != null
                                    && !isValidFormSubmitted && !old_password.errors" [ngClass]="'error'">
                                    <small class="text-danger">{{erreur_old_password}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="password_1">Nouveau mot de passe</label>
                                <input class="form-control" formControlName="password" id="password_1" type="password">
                                <div *ngIf="password.errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                                     [ngClass]="'error'">
                                    <small *ngIf="password.errors.required" class="text-danger">
                                        Le nouveau mot de passe est requis
                                    </small>
                                    <small *ngIf="password.errors.pattern" class="text-danger">
                                        Le mot de passe doit faire au moins 8 caratères et comporter au moins une
                                        majuscule,
                                        un caractère spécial et un chiffre
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="password_2">Confirmation mot de passe</label>
                                <input class="form-control" formControlName="password_confirmation" id="password_2"
                                       type="password">
                                <div *ngIf="password_confirmation.errors && isValidFormSubmitted != null
                                    && !isValidFormSubmitted" [ngClass]="'error'">
                                    <small *ngIf="password_confirmation.errors.required" class="text-danger">
                                        La confirmation du mot de passe est requise
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="erreur != '' && isValidFormSubmitted != null && !isValidFormSubmitted"
                         [ngClass]="'error'">
                        <span class="text-danger">{{erreur}}</span>
                    </div>
                    <div *ngIf="success != '' && erreur_old_password == '' && erreur == '' " [ngClass]="'success'">
                        <span class="text-success">{{success}}</span>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="far fa-save mr-2">
                            </i>Changer mot de passe
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="block mb-5">
            <div class="block-header"><strong class="text-uppercase">Details personnels</strong></div>
            <div class="block-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="civilite">Civilite</label>
                            <select class="form-control" id="civilite" name="civilite">
                                <option *ngIf="client.civilite == 'Homme'" value="Homme">Homme</option>
                                <option *ngIf="client.civilite == 'Femme'" value="Femme">Femme</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="nom">Nom</label>
                            <input class="form-control" id="nom" type="text" value="{{ client.nom }}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="prenom">Prenom</label>
                            <input class="form-control" id="prenom" type="text" value="{{ client.prenom }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="adresse">Adresse</label>
                            <input class="form-control" id="adresse" type="text" value="{{ client.adresse }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="cp">Code Postal</label>
                            <input class="form-control" id="cp" type="text" value="{{ client.cp }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="ville">Ville</label>
                            <input class="form-control" id="ville" type="text" value="{{ client.ville }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="pays">Pays</label>
                            <select class="form-control" id="pays" name="pays">
                                <ng-container *ngFor="let pays of listePays">
                                    <option *ngIf="pays.name == client.pays" [value]="pays.name"
                                            selected> {{ pays.name }}</option>
                                    <option *ngIf="pays.name != client.pays"
                                            [value]="pays.name"> {{ pays.name }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="login">Login</label>
                            <input class="form-control" disabled id="login" type="text" value="{{client.login}}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="tel">Telephone</label>
                            <input class="form-control" id="tel" type="text" value="{{client.tel}}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" id="email" type="text" value="{{client.mail}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
